language: php

php:
  - 5.3
  - 5.4
  - 5.5

notifications:
    irc: "irc.freenode.org#kumbiaphp"
#    email:
#    - programador.manuel@gmail.com


env:
  - DB=mysql
#  - DB=pgsql
#  - DB=sqlite

before_script:
  - sh -c "if [ '$DB' = 'pgsql' ]; then psql -c 'DROP DATABASE IF EXISTS test;' -U postgres; fi"
  - sh -c "if [ '$DB' = 'pgsql' ]; then psql -c 'create database test;' -U postgres; fi"
  - sh -c "if [ '$DB' = 'mysql' ]; then mysql -e 'create database IF NOT EXISTS test;'; fi"
  - sh -c "if [ '$DB' = 'mysql' ]; then mysql -e 'CREATE TABLE IF NOT EXISTS test.usuario ( id int(11) NOT NULL DEFAULT 0, nombre  varchar(50) NOT NULL , email varchar(100) NOT NULL , activo tinyint(1) NULL DEFAULT 1 , PRIMARY KEY (id) );'; fi"

script: 
  - phpunit --configuration tests/phpunit_$DB.xml --coverage-text --colors
  - phpunit --coverage-clover=coverage.clover
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
